<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ShopCartt Application Test Automation Test Suite">

<listeners>
	<listener class-name="com.shopcart.qa.extentreport.ShopcartExtentReporter"></listener>
</listeners>

  <test thread-count="5" name="ShopCartt App Test Cases">
    <classes>     
   	  <class name="com.shopcart.qa.testpages.AdminLoginPageTest"/>
      <class name="com.shopcart.qa.testpages.DashboardTest"/>
      <class name="com.shopcart.qa.testpages.CustomersPageTest"/>
      <class name="com.shopcart.qa.testpages.Customers_GroupsPageTest"/>
      <class name="com.shopcart.qa.testpages.Customers_ShoppingCartsPageTest"/>  
      <class name="com.shopcart.qa.testpages.Customers_CustomerServicePageTest"/>      
   <!-- <class name="com.shopcart.qa.testpages.MyShopPageTest"/>      -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
